<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1><%=shopName%></h1>
    <div class="topnav">
      <a href="/">HOME</a>
      <a href="about">About <%=shopName%></a>
      <a href="list">Buy</a>
      <a href="additem">Sell</a>
      <a href="bargainitems">Best Deals</a>
      <a href="listusers"> A list of our users</a>
      <% if (loggedIn) { %>
        <a href="/logout">Logout</a>
      <% } else { %>
        <a href="/login">Login</a>
      <% } %>
      <!-- Search Bar-->
      <div class="dropdown">
        <button class="dropbtn">
          SEARCH
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <form action="/search-result" method="get">
            <input type="text" name="keyword" placeholder="Search..." />
            <button type="submit">Go</button>
          </form>
        </div>
      </div>
      <a href="basket">Basket</a>
  </div>
  <div class="addbg">
    <div class="add-box">
    <h2>Add Clothing for sale</h2>
    <form method="POST" action="/itemadded" enctype="multipart/form-data">
      <div class="container">
        <label for="name"><b>Item Name:</b></label>
        <input id="name" type="text" name="name" value="item name" required/>

        <label for="brand"><b>Brand:</b></label>
        <input id="brand" type="text" name="brand" value="item brand" required/>

        <label for="price"><b>Price:</b></label>
        <input id="price" type="text" name="price" value="item price" required/>

        <label for="image"><b>Image:</b></label>
        <input id="image" type="file" name="image" accept="image/*" required/>

        <button type="submit" value="Add item" class="registerbtn">Submit</button>
      </form>
  </body>
</html>